.path-grade-report-singleview .quicknav:before,
.path-grade-report-singleview .quicknav:after {
  clear: both;
  display: table;
  content: "";
}
.path-grade-report-singleview .itemnav {
  display: inline-block;
  padding: 10px 0;
}
.path-grade-report-singleview .nextitem {
  float: right;
}
.path-grade-report-singleview .itemuserselect {
  display: inline-block;
  float: right;
  margin: 3px 0;
}
.path-grade-report-singleview .itemuserselect .singleselect select {
  margin: 0 0 10px 5px;
}
.path-grade-report-singleview .generalbox {
  text-align: right;
  clear: both;
}
.path-grade-report-singleview .generalbox .singleselect {
  display: inline-block;
}
.path-grade-report-singleview .generalbox .singleselect select {
  margin: 0 0 10px 5px;
}
.path-grade-report-singleview .generaltable {
  width: 100%;
  text-align: left;
}
.path-grade-report-singleview .generaltable .header {
  text-align: left;
  vertical-align: bottom;
}
.path-grade-report-singleview .generaltable .cell.c1 {
  font-weight: normal;
}
.path-grade-report-singleview .generaltable .gradeitem {
  padding-left: 30px;
}
.path-grade-report-singleview .generaltable .gradeitem .itemicon {
  margin-left: -22px;
}
.path-grade-report-singleview .generaltable .user {
  padding-left: 43px;
}
.path-grade-report-singleview .generaltable .user .userpicture {
  margin-left: -35px;
}
.path-grade-report-singleview .generaltable .user a:nth-of-type(2) {
  vertical-align: top;
  display: inline-block;
  margin-left: 8px;
}
.path-grade-report-singleview .generaltable .range {
  white-space: nowrap;
}
.path-grade-report-singleview .generaltable input[type="text"] {
  width: auto;
}
.path-grade-report-singleview .generaltable .inclusion_links {
  display: block;
  font-weight: normal;
}
.path-grade-report-singleview .singleview_bulk {
  text-align: center;
}
.path-grade-report-singleview .singleview_bulk label:nth-of-type(2) {
  display: inline-block;
}
.dir-rtl.path-grade-report-singleview .nextitem {
  float: left;
}
.dir-rtl.path-grade-report-singleview .generalbox {
  text-align: left;
}
.dir-rtl.path-grade-report-singleview .generalbox .singleselect select,
.dir-rtl.path-grade-report-singleview .generalbox .submit input  {
  margin: 0 5px 10px 0;
}
.dir-rtl.path-grade-report-singleview .generaltable {
  text-align: right;
}
.dir-rtl.path-grade-report-singleview .generaltable .header {
  text-align: right;
}
.dir-rtl.path-grade-report-singleview .singleview_bulk input[type="checkbox"] {
  margin-right: 0;
  margin-left: 7px;
}
