.path-grade-report-singleview div.generalbox {
    margin: 0 20px 15px 20px;
}

.path-grade-report-singleview div.generalbox div.singleselect form div {
    text-align: center;
}

.path-grade-report-singleview div.generalbox table.generaltable {
    margin: 0 auto 15px auto;
}

.path-grade-report-singleview div.generalbox form div {
    text-align: center;
}

.path-grade-report-singleview .singleselect {
    display: inline;
    float: right;
}
.path-grade-report-singleview .generalbox .singleselect select,
.path-grade-report-singleview .generalbox .submit input {
  margin: 0 0 10px 5px;
}
.path-grade-report-singleview .generaltable {
  width: 100%;
  text-align: left;
}
.path-grade-report-singleview #region-main h2 {
   text-align: center;
}

.path-grade-report-singleview input[name^="finalgrade"] {
    width: 50px;
}
.path-grade-report-singleview .singleview_bulk {
  text-align: center;
}
.path-grade-report-singleview .singleview_bulk label:nth-of-type(2) {
  display: inline-block;
}

.dir-rtl.path-grade-report-singleview .nextitem {
  float: left;
}
.dir-rtl.path-grade-report-singleview .generalbox {
  text-align: left;
}
.dir-rtl.path-grade-report-singleview .generalbox .singleselect select,
.dir-rtl.path-grade-report-singleview .generalbox .submit input  {
  margin: 0 5px 10px 0;
}
.dir-rtl.path-grade-report-singleview .generaltable {
  text-align: right;
}
.dir-rtl.path-grade-report-singleview .generaltable .header {
  text-align: right;
}
.dir-rtl.path-grade-report-singleview .singleview_bulk input[type="checkbox"] {
  margin-right: 0;
  margin-left: 7px;
}
