.path-grade-report-singleview div.generalbox {
    margin: 0 20px 15px 20px;
}

.path-grade-report-singleview div.generalbox div.singleselect form div {
    text-align: center;
}

.path-grade-report-singleview div.generalbox table.generaltable {
    margin: 0 auto 15px auto;
}

.path-grade-report-singleview div.generalbox form div {
    text-align: center;
}

.path-grade-report-singleview .singleselect {
    clear: both;
    float: right;
}
.path-grade-report-singleview .generalbox .singleselect select,
.path-grade-report-singleview .generalbox .submit input {
  margin: 0 0 10px 5px;
}
.path-grade-report-singleview #region-main h2 {
   text-align: center;
}

.path-grade-report-singleview input[name^="finalgrade"] {
    width: 50px;
}
.path-grade-report-singleview itemnav.previtem {
   clear: both;
   float:left;
}
.path-grade-report-singleview small.nextitem {
   clear: both;
   float:right;
}
.path-grade-report-singleview.dir-rtl small.nextitem {
   clear: both;
   float:left;
}
.path-grade-report-singleview.dir-rtl small.previtem {
   clear: both;
   float:right;
}
.dir-rtl.path-grade-report-singleview .singleview_bulk input[type="checkbox"] {
  margin-right: 0;
  margin-left: 7px;
}
